@import '/styles/colors';
@import '/styles/variables';

.compWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 26px;

  @media #{$desktop-medium} {
    margin: unset;
  }
}

.button {
  margin: 0 0 0 auto !important;
  display: flex;
  justify-content: flex-end;
}

.hide {
  display: none;
}
