@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

$desktop-container-width: 100%;
$desktop-container-height: 100%;

.containerActive {
  position: relative;
  background: $red;
  height: $desktop-container-height;
  clip-path: polygon(0 0, 97% 0, 100% 10%, 100% 100%, 3% 100%, 0 90%);
  grid-column: 1/-1;
}

.containerExpired {
  position: relative;
  height: $desktop-container-height;
  background: $white;
  clip-path: polygon(0 0, 94% 0, 100% 10%, 100% 100%, 6% 100%, 0 90%);
}

.borderActive {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(#{$desktop-container-width} - 4px);
  height: calc(#{$desktop-container-height} - 4px);
  clip-path: polygon(0 0, 97% 0, 100% 10%, 100% 100%, 3% 100%, 0 90%);
  background: $grey;

  @media #{$desktop-medium} {
    top: 6px;
    left: 6px;
    width: calc(#{$desktop-container-width} - 12px);
    height: calc(#{$desktop-container-height} - 12px);
  }
}

.borderExpired {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(#{$desktop-container-width} - 4px);
  height: calc(#{$desktop-container-height} - 4px);
  clip-path: polygon(0 0, 94% 0, 100% 10%, 100% 100%, 6% 100%, 0 90%);
  background: $grey;
}

.content {
  position: relative;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  color: $white;
  height: 100%;

  &Row {
    @media #{$desktop-medium} {
      flex-direction: row;
      padding: 36px;
    }
  }
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 16px;
  display: flex;
  background: $white;

  span {
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
  }
}

.header {
  display: flex;
  margin-top: 20px;

  @media #{$desktop-medium} {
    margin-top: 10px;
  }
}

.image {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;

  @media #{$desktop-medium} {
    margin: 0 20px 0 0;
  }

  img {
    min-width: 100px;
    filter: grayscale(1);
  }

  svg {
    width: 50px;
    height: 50px;
    path {
      fill: $white;
    }
  }

  &ActiveSvg {
    img {
      width: 100px;
      filter: grayscale(1);

      @media #{$desktop-medium} {
        min-width: 200px;
      }
    }

    svg {
      path {
        fill: $red;
      }
    }
  }
}

.date {
  margin-top: 20px;

  @media #{$desktop-medium} {
    margin-top: 0;
  }
}

.button {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.containerShort {
}

.redColor {
  color: $red;
}

.whiteColor {
  color: $white;
}

.spacing {
  padding: 16px;
}
