@import '/styles/colors';
@import '/styles/variables';

.compWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 26px;

  @media #{$desktop-large} {
    margin: unset;
  }
}

.header {
  margin: 12px 0;
  display: flex;
  align-items: center;
  svg {
    margin-right: 12px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    path {
      fill: $white;
    }
  }
}

.title {
  color: $yellow;
}

.hide {
  display: none;
}

.form {
  margin-top: 26px;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media #{$desktop-large} {
    grid-template-columns: 1fr 1fr;
  }
}

.category {
  color: $dark-grey;
  font-weight: 300;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 24px 0;

  @media #{$desktop-large} {
    justify-content: flex-end;
  }

  & > div {
    margin: 0 0 0 20px;
  }

  a {
    font-size: 20px;
    font-weight: 300;
    color: $white;
    text-transform: unset;
  }
}

.success {
  margin-top: 16px;
  color: green;
}

.error {
  margin-top: 16px;
  color: red;
}
