@import 'styles/colors';

.compWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select {
  padding: 16px;
  color: $white;
  background-color: $grey;
  border: 1px solid $white;
  font-size: 18px;
}

.label {
  color: $dark-grey;
  font-weight: 300;
  margin-left: 0;
  margin-bottom: 12px;
}
