@import '/styles/colors';

.compWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-bottom: 32px;

  h3 {
    color: $yellow;
  }

  & > div {
    margin: unset;
  }
}

.hide {
  display: none;
}
