@import 'styles/variables';
@import 'styles/colors';

.compWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media #{$desktop-medium} {
    margin-top: 60px;
  }
}

.content {
  width: 100%;
  padding: 0 26px 0 26px;
  display: flex;
  flex-direction: column;

  @media #{$desktop-large} {
    padding: 0;
    max-width: 992px;
    margin: 0 auto 0 auto;
    flex-direction: row;
  }
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  @media #{$desktop-large} {
    margin-right: 60px;
  }

  h1 {
    margin-bottom: 26px;
    letter-spacing: 4px;
  }

  h4 {
    letter-spacing: 1px;
  }

  & > div,
  h4 {
    margin-bottom: 12px;
  }
}

.tabs {
  display: flex;
  margin: 32px 0;

  @media #{$desktop-large} {
    margin: 12px 0 40px 0;
  }
}

.tab {
  margin-right: 20px;
  cursor: pointer;
}

.activeTab {
  color: #f2d15e;
  text-decoration: underline;
}

.page {
  width: 100%;
}
