@import 'styles/variables';
@import 'styles/colors';

.compWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  margin-top: 100px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 0 26px 0 26px;
  display: flex;
  flex-direction: column;

  @media #{$desktop-large} {
    width: 100%;
    max-width: 992px;
    margin: 0 auto 0 auto;
    flex-direction: row;
  }
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  @media #{$desktop-large} {
    margin-right: 100px;
  }

  h1 {
    margin-bottom: 26px;
    letter-spacing: 4px;
  }

  h4 {
    letter-spacing: 1px;
  }

  & > div,
  h4 {
    margin-bottom: 12px;
  }
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$desktop-large} {
    flex-direction: column;
  }
}

.avatarWrapper {
  position: relative;
}

.editWrapper {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $grey;
  border-radius: 50%;
  border: 1px solid $white;
  top: 55px;
  right: 16px;
  width: 26px;
  height: 26px;

  @media #{$desktop-large} {
    top: 75px;
    right: 8px;
  }
}

.edit {
  width: 12px;
  height: 12px;
  path {
    fill: $white;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;

  h4 {
    word-break: break-all;
  }
  @media #{$desktop-large} {
    text-align: center;

    align-items: center;
    margin-top: 12px;
  }
}

.logout {
  color: $white;
  font-weight: 300;
  text-transform: unset;
}
