@import './styles/variables.scss';
@import './styles/colors.scss';

.compWrap {
  width: 100%;
  position: fixed;
  z-index: 10;
  margin: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  text-decoration: none !important;
}

.logoContainer {
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    .logoName {
      opacity: 1;
      margin-left: 12px;
    }
  }
}

.logo {
  width: 36px;
  height: 36px;
  path {
    fill: $white;
  }
}

.logoName {
  margin-left: 0;
  letter-spacing: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  opacity: 0;
}

.menu {
  float: right;
  display: block;
  width: 30px;
  height: 50px;
  position: relative;
  z-index: 15;
  margin-top: 20px;
  margin-right: 64px;
  cursor: pointer;

  span::before,
  span::after {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 4px;
    display: block;
    left: 0;
    position: absolute;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.4);
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }

  span::after {
    transform: translateY(8px);
  }

  &:hover {
    span::before {
      transform: translateY(-6px);
    }

    span::after {
      transform: translateY(6px);
    }
  }

  .isOpen {
    &::before {
      transform: translateY(0) rotate(45deg) !important;
    }
    &::after {
      transform: translateY(0) rotate(-45deg) !important;
    }
  }
}

.container {
  pointer-events: none;
  position: fixed;
  background-color: $grey;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  &Active {
    pointer-events: auto;
    opacity: 1;
  }
}

.sections {
  z-index: 12;
  height: 500px;
  padding: 0;
  top: 0;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;

  @media #{$desktop-medium} {
    top: 0;
  }

  &::before {
    content: '';
    clear: both;
    display: table;
  }

  li {
    margin-bottom: 16px;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $white;

    @media #{$desktop-medium} {
      font-size: 50px;
      line-height: 50px;
    }

    & > a {
      position: relative;
      text-decoration: none;

      & > svg {
        width: 80px;
        height: 60px;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all 0.5s ease;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }

    &:hover {
      color: $red;
      text-shadow: -1px -1px 0 $red;
    }
  }
}

.text {
  position: relative;
}

.left {
  svg {
    transform: rotate(-25deg);
    left: -100px;
  }
}

.right {
  svg {
    transform: rotate(25deg);
    right: -100px;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  list-style: none;

  li {
    text-align: center;
    display: inline-block;
    font-weight: bold;
  }
}

.bullet::before {
  content: '\2022';
  margin: 0 20px;
  pointer-events: none;
}
