@import 'styles/colors.scss';
@import 'styles/variables.scss';

.compWrap {
  background: linear-gradient(to right, $red, $yellow);
  padding: 2px 12px;
}

.text {
  margin: auto;
  text-align: center;
  color: $grey;
  max-width: 860px;

  p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 0.8em;

    @media #{$desktop-medium} {
      font-size: 1em;
    }
  }

  a {
    color: $grey;
    font-weight: bold;
  }
}
