@import '../../../styles/colors';

.compWrap {
  cursor: pointer;
  color: $light-grey;
  padding: 4px 12px;
  border: 1px solid $white;

  &:focus {
    outline: none;
    border: 1px solid $yellow;
  }
}

.selected {
  font-weight: bold;
  background-color: $white;
  color: $grey;
}
