@import 'styles/colors';
@import 'styles/variables';

.avatar {
  position: relative;
  border: 1px solid $white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;

  width: 30px;
  height: 30px;

  svg {
    width: 15px;
    height: 15px;
  }

  @media #{$desktop-large} {
    width: 45px;
    height: 45px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  img {
    border-radius: 50%;
  }

  @media #{$desktop-large} {
    margin-right: unset;
  }
}

.small {
  width: 30px;
  height: 30px;

  svg {
    width: 15px;
    height: 15px;
  }
}

.large {
  border: 2px solid $white;

  width: 80px;
  height: 80px;

  svg {
    width: 30px;
    height: 30px;
  }

  @media #{$desktop-large} {
    width: 100px;
    height: 100px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}
